.todoInputContainer {
    position: relative;
    border-bottom: 1px solid #ededed;
}
.todoInput {
    font-family: 'Indie Flower', cursive;
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    width: 100%;
    box-sizing: border-box;
    font-size: 28px;
    box-shadow: inset 0 -2px 40px rgba(0,0,0,0.03);
    outline: none;
}

.btnPlus {
    position: absolute;
    font-size: 24px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    left: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0.003);
    color: #ccc;
}

.todoInput::-webkit-input-placeholder {
    font-family: 'Indie Flower', cursive;
}
.todoInput::-moz-placeholder {
    font-family: 'Indie Flower', cursive;
}
.todoInput:-moz-placeholder {
    font-family: 'Indie Flower', cursive;
}
.todoInput:-ms-input-placeholder {
    font-family: 'Indie Flower', cursive;
}

.todoInput.error::-webkit-input-placeholder {
    font-family: 'Indie Flower', cursive;
    color: red;
}
.todoInput.error::-moz-placeholder {
    font-family: 'Indie Flower', cursive;
    color: red;
}
.todoInput.error:-moz-placeholder {
    font-family: 'Indie Flower', cursive;
    color: red;
}
.todoInput.error:-ms-input-placeholder {
    font-family: 'Indie Flower', cursive;
    color: red;
}